{% load comics_tags %}

<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | Dainger Comics</title>
        <meta charset="utf-8">
        <meta name="author" content="Dainger Comics">

        <!-- CSS and LESS-->
        <link rel="stylesheet/less" type=text/css href="{{ STATIC_URL }}css/style.less">
        <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>

        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="background-container">
        </div>

        <div id="container">
            <div id="header-container" class="cf">
                <!-- Project Wonderful Ad Box Code -->
                <div class="project-wonderful-box" id="pw_adbox_67850_5_0"></div>
                <script type="text/javascript"></script>
                <noscript><map name="admap67850" id="admap67850"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=67850&type=5" shape="rect" coords="0,0,728,90" title="" alt="" target="_blank" /></map>
                <table cellpadding="0" cellspacing="0" style="width:728px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=67850&type=5" style="width:728px;height:90px;border-style:none;" usemap="#admap67850" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=67850&type=5" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table>
                </noscript>
                <!-- End Project Wonderful Ad Box Code -->
                <div id="header" class="cf">
                    <h1 id="header-title"><a href="/"><img id="title-image" src="{{ STATIC_URL }}img/title.jpg" alt="Dainger Comics" title="Dainger Comics"/></a></h1>

                    <div id="nav">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="http://blog.daingercomics.com/">blog</a></li>
                            <li><a href="/s/about/">about</a></li>
                        </ul>
                        <a href="https://twitter.com/daingercomics" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @daingercomics</a>

                        <a id="rss-button" href="http://daingercomics.com/rss/"><img src="{{ STATIC_URL }}img/rss-icon.png" alt="Subscribe" /><br />Subscribe!</a>
                    </div>
                </div>
            </div>

            <div id="primary-content" class="cf">
                {% block primary_content %}
                {% endblock %}
            </div>

            <div id="secondary-content" class="cf">
                {% block secondary_content %}
                {% endblock %}
            </div>

            <div id="footer" class="cf">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
        
        <!-- google plus button -->
        <script type="text/javascript">
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>

        <!-- twitter follow button -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <!-- Facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- google analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35331184-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        <!-- Project Wonderful Ad Box Loader -->
        <!-- Put this after the <body> tag at the top of your page -->
        <script type="text/javascript">
        (function(){function pw_load(){
            if(arguments.callee.z)return;else arguments.callee.z=true;
            var d=document;var s=d.createElement('script');
            var x=d.getElementsByTagName('script')[0];
            s.type='text/javascript';s.async=true;
            s.src='//www.projectwonderful.com/pwa.js';
            x.parentNode.insertBefore(s,x);}
        if (window.attachEvent){
            window.attachEvent('DOMContentLoaded',pw_load);
            window.attachEvent('onload',pw_load);}
        else{
            window.addEventListener('DOMContentLoaded',pw_load,false);
            window.addEventListener('load',pw_load,false);}})();
        </script>
        <!-- End Project Wonderful Ad Box Loader -->

    </body>
</html>
