{% extends "base.html" %}
{% block title %}Privacy{% endblock %}

{% block primary_content %}

    <div id="privacy-policy-text" class="fat-text">
        <p>Google Adsense and the DoubleClick DART Cookie</p>

        <p>Google, as a third party advertisement vendor, uses cookies to serve ads on this site. The use of DART cookies by Google enables them to serve adverts to visitors that are based on their visits to this website as well as other sites on the internet.</p>

        <p>To opt out of the DART cookies you may visit the Google ad and content network privacy policy at the following url <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a> Tracking of users through the DART cookie mechanisms are subject to Google’s own privacy policies.</p>

        <p>Other Third Party ad servers or ad networks may also use cookies to track users activities on this website to measure advertisement effectiveness and other reasons that will be provided in their own privacy policies, David S Colgan has no access or control over these cookies that may be used by third party advertisers.</p>
</div>

{% endblock %}
